
.box{
	width:250px;
	height:300px;
	text-align: justify;
	border:solid 2px red;
}

.show{
	width:250px;
	height:300px;
	text-align: justify;
	border:solid 2px red;
}
.hide{
	width:250px;
	height:300px;
	text-align: justify;
	border:solid 2px red;
	display:none;
}
